---
- name: Configure web servers
  hosts: web_servers
  become: true
  tasks:
    - name: Update apt and install docker
      apt:
        name: docker.io
        update_cache: yes
        state: present

    # --- БЛОК ДЛЯ ОБХОДА БЛОКИРОВКИ ---
    - name: Create docker config directory
      file:
        path: /etc/docker
        state: directory
        mode: '0755'

    - name: Configure Docker mirror
      copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "registry-mirrors": [
              "https://mirror.gcr.io",
              "https://huecker.io",
              "https://dockerhub.timeweb.cloud"
            ]
          }

    - name: Restart docker to apply mirrors
      systemd:
        name: docker
        state: restarted
    # --- КОНЕЦ БЛОКА ---

    - name: Start and enable docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add ubuntu user to docker group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Pull nginx image
      community.docker.docker_image:
        name: nginx:latest
        source: pull

    - name: Create directory for web files
      file:
        path: /var/www/html
        state: directory
        mode: '0755'

    - name: Create simple index.html
      copy:
        dest: /var/www/html/index.html
        content: "<h1>Hello from {{ inventory_hostname }}!</h1>"

    - name: Run nginx container
      community.docker.docker_container:
        name: my-web-app
        image: nginx:latest
        state: started
        restart_policy: always
        ports:
          - "80:80"
        # Пробрасываю созданный файл внутрь контейнера
        volumes:
          - /var/www/html/index.html:/usr/share/nginx/html/index.html:ro

- name: Configure load balancer
  hosts: load_balancer
  become: true
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        update_cache: yes
        state: present

    - name: Add upstream config
      copy:
        dest: /etc/nginx/conf.d/backend.conf
        content: |
          upstream backend {
            server 192.168.64.6:80;
            server 192.168.64.2:80;
            server 192.168.64.3:80;
          }
          server {
            listen 80;
            location / {
              proxy_pass http://backend;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
            }
          }
      notify: Restart nginx

  handlers:
    - name: Restart nginx
      systemd:
        name: nginx
        state: restarted